* {
  margin: 0rem;
}
.main {
  /*   display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh; */
  /* box-shadow: inset 0px 0px 0px 3px blue; */
  padding: 0rem;
  margin: 5px;
}
