.main {
  background-color: black;
  display: flex;
  font-size: 1.5rem;
  /* width: 60vw; */
  /* box-shadow: inset 0px 0px 0px 3px red; */
  justify-content: space-between;
  border-bottom: 2px solid grey;
  position: sticky;
  top: 0;
}

.button,
.button * {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.button {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

.overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 60%;
}
