.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.button {
  border: 1px solid grey;
  border-radius: 10px;
  justify-content: center;
  padding: 5px;
}
.button,
.button * {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
