* {
  margin: 0rem;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.loginform {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.loginfield {
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
}
