:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-shadow: inset 0px 0px 0px 3px yellow;
  height: 100%;
}

#root {
  box-shadow: inset 0px 0px 0px 3px cyan;
  height: 100%;
}

body {
  box-shadow: inset 0px 0px 0px 3px magenta;
  height: 100%;
}
